{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
mas "Be Focused Pro", id: 961632517
mas "Dato", id: 1470584107
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Lightshot Screenshot", id: 526298438
mas "Microsoft Remote Desktop", id: 1295203466
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Slack", id: 803453959

EOF
{{ end -}}