{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "aws/tap"
tap "go-task/tap"
tap "golangci/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"
tap "maoueh/tap"
brew "libyaml"
brew "ansible"
brew "autoconf"
brew "bitwarden-cli"
brew "brotli"
brew "libuv"
brew "aws-cdk"
brew "awscli"
brew "bash"
brew "bat"
brew "boost"
brew "buildifier"
brew "chezmoi"
brew "fontconfig"
brew "glib"
brew "unbound"
brew "cask"
brew "circleci"
brew "composer"
brew "ctop"
brew "curl"
brew "go"
brew "dep"
brew "direnv"
brew "dnsmasq"
brew "dos2unix"
brew "exa"
brew "libmpc"
brew "gcc"
brew "ghostscript"
brew "git"
brew "gnupg"
brew "golang-migrate"
brew "jasper"
brew "harfbuzz"
brew "pango"
brew "graphviz"
brew "helm"
brew "httpd"
brew "httpie"
brew "oniguruma"
brew "jq"
brew "kubernetes-cli"
brew "libiconv"
brew "libpq"
brew "libxml2"
brew "mas"
brew "minikube"
brew "monkeysphere"
brew "mtr"
brew "nmap"
brew "node@14"
brew "openjdk"
brew "php"
brew "postgresql@13"
brew "privoxy"
brew "putty"
brew "pv"
brew "pyenv"
brew "python@3.8"
brew "rclone"
brew "ruby"
brew "sshuttle"
brew "terraform"
brew "vim"
brew "watch"
brew "watchexec"
brew "watchman"
brew "wget"
brew "yarn"
brew "zsh"
brew "aws/tap/aws-sam-cli"
brew "go-task/tap/go-task"
brew "golangci/tap/golangci-lint"
brew "maoueh/tap/zap-pretty"
cask "alfred"
cask "altair-graphql-client"
cask "bitwarden"
cask "google-drive"
cask "dash"
cask "flycut"
cask "font-fira-code"
cask "font-firacode-nerd-font"
cask "font-hack-nerd-font"
cask "google-cloud-sdk"
cask "graphiql"
cask "graphql-playground"
cask "insomnia"
cask "iterm2"
cask "ngrok"
cask "session-manager-plugin"
cask "visual-studio-code"
cask "wkhtmltopdf"

EOF
{{ end -}}